/* RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* CODE */

:root {
    --color-primary: #fbcfe8;
    --color-secondary: #f0f9ff;
    --font-size-large: 20px;
    --font-size-medium: 16px;
    --font-size-small: 14px;
    --font-color-sidebar: white;
    --font-color-fade: #444;
    --font-family: "Rubik";
}

body {
    font-family: var(--font-family);
}

.spaced {
    padding: 0 20px 20px 20px;
}

.icon {
    width: 30px;
}

.inverted {
    filter: invert(1);
}

.block {
    display: blocK;
}

.fade {
    color: var(--font-color-fade);
}

.text-large {
    font-size: var(--font-size-large)
}

.text-medium {
    font-size: var(--font-size-medium)
}

.text-small {
    font-size: var(--font-size-small);
}

/* CONTAINER */

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    position: relative;
}

/* SIDEBAR */

.sidebar {
    background-color: var(--color-primary);
    color: var(--font-color-sidebar);
    font-weight: 600;
    grid-column: 1 / 2;
    grid-row: 1 / 3;


    display: grid;
    grid-template-rows: 100px 300px 100px;
    gap: 40px;
}

.sidebar .logo {
    display: flex;
    align-items: center;
    justify-content: start;
}

.sidebar .logo-icon {
    width: 22%;
    filter: invert(1);
}

.sidebar .logo-text {
    font-size: 26px;
    
}

.sidebar ul {
    display: grid;
    grid-template-rows: repeat(6, 40px);
    gap: 10px;
    list-style: none;
}

.sidebar ul li {
    align-self: center;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar ul li:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* HEADER */

.header {
    position: relative;
    background-color: white;
    
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 10px;
    box-shadow: 2px 2px 5px #333;
}

/* SEARCHBAR */

.header .searchbar-container {
    display: grid;
    grid-template-columns: 1fr 14fr;
    align-items: center;
    align-self: center;
    height: 100px;
}

.searchbar-container .searchbar {
    width: 100%;
    height: 30%;
    font-size: 20px;
    font-family: var(--font-family);
    border-radius: 20px;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: none;
}

.searchbar-container .searchbar:focus {
    outline: none;
}

/* USER INFO */

.user-info-container {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    align-items: center;
    font-size: var(--font-size-medium);
    padding-right: 20px;
}

.user-avatar {
    width: 60px;
    height: auto;
    border-radius: 50%;
}

.user-info-username {
    display: flex;
}

/* USER GREETING */

.user-greeting {
    display: flex;
    gap: 30px;
    align-items: center;
}

.greetings-small {
    display: block;
    font-size: 80%;
    padding-bottom: 10px;
}

.avatar-large {
    width: 80px;
}

/* HEADER BUTTONS */

.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
}

.header-button {
    background-color: var(--color-primary);
    font-family: var(--font-family);
    color: var(--font-color-sidebar);
    border: 2px solid var(--color-secondary);
    border-radius: 40px;
    padding: 10px 30px;

}


/* MAIN CONTENT */


.main-content {
    background-color: rgb(245, 253, 255);
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 6fr 1fr 6fr;
    gap: 30px;

    padding-top: 20px;
}

.projects-title, .announcements-title, .trending-title {
    align-self: end;
}

.white-box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #555;
}

/* ARTICLES */

.articles {
    grid-row: 2 / 5;

    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.article {
    display: grid;
    grid-template-columns: 12px 1fr;
    gap: 10px;
}

.article-image {
    grid-row: 1 / 3;
    border-radius: 10px 0px 0px 10px;
    background: linear-gradient(var(--color-primary), var(--color-secondary));
}

.article-text {
    grid-column: 2 / 3;
    width: 90%;
    padding: 20px 20px 0 20px;
}

.title {
    font-weight: 600;
}

.article-icons {
    grid-column: 2 / 3;
    display: flex;
    gap: 10px;
    justify-content: end;
    padding: 0 20px 20px 20px;
}

/* ANNOUNCEMENTS */

.announcements-content {
    display: grid;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

.line {
    height: 1px;
    background: black;
}

/* TRENDING */

.trending-content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    align-items: center;
    padding: 20px;
}

