/* RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* CODE */

div {
    padding: 15px;
}

:root {
    --font-size-sidebar: 1.2rem;
    --font-color-sidebar: white;
    font-family: "Rubik";
}

/* CONTAINER */

.container {
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;

}

/* SIDEBAR */

.sidebar {
    background-color: #fbcfe8;
    font-size: var(--font-size-sidebar);
    color: var(--font-color-sidebar);
    font-weight: 600;
    grid-column: 1 / 2;
    grid-row: 1 / 3;


    display: grid;
    grid-template-rows: 8% 32% 16%;
    gap: 60px;

}

.sidebar .logo {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.sidebar .logo-icon {
    width: 25%;
    filter: invert(1);
}

.sidebar .logo-text {
    font-size: 30px;
    
}

.sidebar ul {
    display: grid;
    grid-template-columns: 1fr 4fr;
    list-style: none;
    padding-left: 40px;
}

.sidebar ul li {
    align-self: center;
}

.sidebar ul li .menu-icon {
    width: 60%;
    filter: invert(1);
}

/* HEADER */

.header {
    background-color: orange;
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.header .searchbar-container {
    display: grid;
    grid-template-columns: 1fr 12fr;
    align-items: center;
}

.searchbar-container .searchbar-icon {
    width: 70%;
    height: 70%;
}

.searchbar-container .searchbar {
    width: 50%;
    height: max(10px, 70%);
    border-radius: 20px;
}

/* MAIN CONTENT */

.main-content {
    background-color: grey;
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 6fr 1fr 6fr;
}

.articles {
    grid-row: 2 / 5;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}